#cancelOrderBody {
    width: 950px;
    height: 730px; 
    margin-left: auto;
    margin-right: auto;
}
#cancelOrderFormWrap {
    width: 100%;
}
#cancelOrderForm{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.guideText{
    font-size: 20px;
}
.pictureClass{
    width: 200px;
    height: 150px;
    border: none; 
}
.classInfo{
    display: inline-flex;
    align-content: center;
}
.classDetail{
    width: 300px;
    height: 150px;
    border: none;
    font-size: 12.2px;
    text-align: left;
    margin-left: 30px;
}
.priceClass{
    width: 220px;
    height: 150px;
    border: none;
    text-align: right; 
}
.reasonOfCancelWrap{
    display: inline-flex;
}
.reasonOfCancelSelect{
    width: 300px;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
}
.detailedReasonOfCancel{
    margin-left: 30px;
    resize: none;
    width: 420px;
    height: 60px;
    display: none;
}
.announcedGuide{
    font-size: 12px;
    color: blue;
}
.cancelOrderGuide{
    background-color: rgb(9, 129, 241);
    color: white;
    height: 133px;
    padding-bottom: 7px;
}
.cancelOrderGuideLabel{
    float: right;
}
.announceCancelOrder{
    font-size: 12px;
    text-align: center;
}
.cancelOrderBtn{
    width: 300px;
    height: 40px;
    border: none;
    background-color: rgb(9, 129, 241);
    color: white;
    cursor : pointer;
    text-align: center;
}