@charset "UTF-8";
.tab1{border:1px solid #ebeef3;
	border-left:none;
	border-right:none;
    font-size: 20px;
    text-align: center;
    
}

.tb2{border:1px solid #ebeef3;
	border-left:none;
	border-right:none;
    font-size: 15px;
    text-align: center;
    width:180px;
    }

.tb3{border:1px solid #ebeef3;
	border-left:none;
	border-right:none;
    font-size: 15px;
    ursor: pointer;
    }
     
.tb3:hover{text-decoration: underline;} 

.tbNo { border-collapse: collapse; }


.tbDetail { border-collapse: collapse;
			width: auto;
			
			}
			
.tdSpan {border:1px solid black;
		 
		  }


.tdDetail{border:1px solid black;
		  
		  ;
		  }
.tbSpan2{border:1px solid black;
		
		}

.tdContent{border:1px solid black;
			width:800px;
			height:500px;}
	

     