@charset "UTF-8";
.join1,  .join2{
    width: 8%;
    height: 30px;
    background-color: rgb(9, 129, 241);
    color: white;
    cursor : pointer;
    border:0;
}

.join3{
	width: auto;
    height: 30px;
    background-color: rgb(9, 129, 241);
    color: white;
    cursor : pointer;
    border:0;
}

.PaBtn{
    width: auto;
    height: 30px;
    background-color: rgb(9, 129, 241);
    color: white;
    cursor : pointer;
    border: none;
}

.btn1{
    width: 80px;
    height: 35px;
    background-color: rgb(9, 129, 241);
    color: white;
}
