@charset "UTF-8";
.tab1{border:1px solid black;
    font-size: 20px;
    text-align: center;
}

.tb2{border:1px solid black;
     font-size: 15px;
     text-align: center;}

.tb3{border:1px solid black;
     font-size: 15px;
     cursor: pointer;} 
.tbNo { border-collapse: collapse; }
     