@charset "UTF-8";
.tab1{border:1px solid #ebeef3;
	border-left:none;
	border-right:none;
    font-size: 20px;
    text-align: center;
    
}

.tb2{border:1px solid #ebeef3;
	border-left:none;
	border-right:none;
    font-size: 15px;
    text-align: center;
    width:180px;
    }

.tb3{border:1px solid #ebeef3;
	border-left:none;
	border-right:none;
    font-size: 15px;
    ursor: pointer;
    }
     
.tb3:hover{text-decoration: underline;} 

.tbNo { border-collapse: collapse; }


.tbDetail { border-collapse: collapse;
			width: auto;
			
			}
			
.tdSpan {border: 1px solid rgb(9, 129, 241);
		  }


.tdDetail{border: 1px solid rgb(9, 129, 241);
		  
		  }
.tbSpan2{border: 1px solid rgb(9, 129, 241);
		
		}

.tdContent{border: 1px solid rgb(9, 129, 241);
			width:800px;
			height:500px;
			}
.textAr{border: 1px solid rgb(9, 129, 241);
		width:800px;}
	
.spN2{border:none;}

.tdTime{border: 1px solid rgb(9, 129, 241);
		width:10px;}
		
.spN3{border:none;
	  width:800px;}
	
     