.complete1sd{
    color: rgb(155, 155, 155);
}

.size142{
  background: rgb(9, 129, 241);
  color: white;
  border: none;
  width: 50px;
  border-radius: 10px;
  padding-bottom: 2px;
  padding-top: 2px;
  font-size: 9pt;
  cursor: pointer;
  margin-top: 1px;
}

th{
	font-size: 11pt;
}

td{
	font-size: 9pt;
}

.td19{
	padding-top: 8px;
	line-height: 16px;
}