                /* profile */
/* 닉네임 수정란 */
.input13{
    border: none;
    font-size: 11pt;
    width: 125px;
    border-bottom: 1px solid darkgray;
    padding-left: 2px;
    padding-bottom: 1.5px;
    text-align: center;
}
  
/* 1열 */
.tline1{
    width:130px;
    font-weight: bold;
    font-size: 11pt;
 /*  border: 1px solid black; */ 
    height: 30px;
}

/* 2열 */
.tline2{
    width: 360px;
    font-size: 9pt;
   /* border: 1px solid black;  */
}

/* 수정불가 폰트 */
.modiX14{
    color: rgb(155,155,155);
    font-size: 11pt;
}


/* 수정 버튼 */
.modibtn1cw{
    background: rgb(9, 129, 241);
    color: white;
    border: none;
    height: 22px;
    width: 80px;
    border-radius: 15px;
    font-size: 9pt;
    cursor: pointer;
}

/* pwd 나열 버튼 */
#pwdbtn1cke{
    cursor: pointer;
    text-decoration: underline;
    color:blue;
    font-size: 10pt;
}


/* pwd 수정 버튼 table */
.pwd1ds{
    display: inline-block;
    vertical-align: middle;
    font-size: 9pt;
    height: 16px;
}
  
/* pwd 수정 버튼 */
#pwdchdoeoc{
    height: 23px;
    vertical-align: middle;
    padding-top: 1px;
    font-size: 9pt;
    cursor: pointer;
}

/* 전화번호 */
#tel1{
	width: 37px;
	border:none;
	text-align: center;
    font-size: 11pt;
    border-bottom: 1px solid darkgray;
    padding-bottom: 2px;
}
#tel2{
	width: 45px;
	border:none;
	text-align: center;
    font-size: 11pt;
    border-bottom: 1px solid darkgray;
    padding-bottom: 2px;
}
#tel3{
	width: 45px;
	border:none;
	text-align: center;
    font-size: 11pt;
    border-bottom: 1px solid darkgray;
    padding-bottom: 2px;
}

