.reviewBtn{
    background: rgb(9, 129, 241);
    color: white;
    border: none;
    height: 23px;
    width: 55px;
    border-radius: 15px;
    padding-bottom: 1.5px;
    padding-top: 2px;
    font-size: 9pt;
    cursor: pointer;
  }
  
th{	
	height: 30px;
	font-size: 11pt;
}

td{
	height: 30px;
	font-size: 9pt;
}