.cancelBtn1sd{
  background: rgb(9, 129, 241);
  color: white;
  border: none;
  width: 50px;
  border-radius: 10px;
  font-size: 8pt;
  height: 20px;
  cursor: pointer;
  padding-bottom: 2px;
  
}

table{
	width:80%;
	border-collapse: collapse;
}


th{
	border-bottom : 1px solid darkgray;
	padding:10px;
	font-size: 9pt;
}

td{
	border-bottom : 1px solid #ebeef3;
	padding:5px;
	font-size: 8pt;
}

#divider{
	margin: 5px 4px 0 9px;
    width: 1px;
    height: 11px;
    color : #ebeef3;
}