.cancelBtn1sd{
    background: rgb(9, 129, 241);
    color: white;
    border: none;
    height: 20px;
    width: 40px;
    border-radius: 10px;
    padding-bottom: 1.5px;
    padding-top: 1px;
    height: 40px;
    width: 150px;
    font-size: 11pt;
}

th{
	font-size: 11pt;
	height: 30px;
}

td{
	font-size: 9pt;
	height: 30px;
}




