.tline1row{
    font-weight: bold;
    width: 150px;
    font-size: 11pt;
    padding-top: 3px;
    margin: 0px;
    vertical-align: middle;
}
.tline2row{
    width: 600px;
    font-size: 9pt
}
#input1ske{
    width: 450px;
    height: 30px;
    padding-left: 20px;
    border-radius: 5px;    
}

#sl1{
    width: 120px;
}
#sl2{
    width: 150px;
}
.sl{
    text-align-last: center;
    height: 33px;
    border: none;
    border-bottom: 1px solid lightgray;
}
.ct{
	font-size: 9pt;
}

#classTime6{
    text-align: center;
    width: 80px;
    border-radius: 5px; 
}

#commission12{
    text-align: center;
    border-radius: 5px; 
}

#MaxNoAttendee{
    text-align: center;
    width: 80px;
    border-radius: 5px; 
}

.addSchedule23{
    height: 20px;
}

.date632{
    border: none;
    border-bottom: 1px solid lightgray;
    text-align-last: center;
    font-size: 9pt;
}

#basicAddr{
    border: none;
    border-bottom: 1px solid lightgray;
    padding-left: 25px;
    width: 280px;
    font-size: 9pt;
    height: 20px;
}

#detailAddr{
    margin-top: 10px;
    border: none;
    border-bottom: 1px solid lightgray;
    padding-left: 25px;
    width: 385px;
    font-size: 9pt;
    height: 20px;
}

.btn24{
    background: rgb(9, 129, 241);
    color: white;
    border: none;
    height: 25px;
    width: 80px;
    border-radius: 15px;
    font-size: 9pt;
}

.textAreaTitle23{
    margin-bottom: 10px;
}

.centents263425{
    border-radius: 5px;
}

.finalBtn24{
    background: rgb(9, 129, 241);
    color: white;
    border: none;
    height: 33px;
    width: 180px;
    border-radius: 15px; 
    font-size: 12pt;
    cursor: pointer;
}