.tline1row{
    font-weight: bold;
    width: 150px;
    font-size: 11pt;
    padding-top: 3px;
    margin: 0px;
    vertical-align: middle;
}
.tline2row{
    width: 600px;
    font-size: 9pt
}
#input1ske{
    width: 500px;
    height: 30px;
    padding-left: 10px;
    border-radius: 5px;        
}
#input2ske{
	border: none;
	text-align: right;
	width: 25px;
	font-weight: bold;
	font-size: 11pt;
}

#sl1{
    width: 100px;
}

.sl1{
    text-align-last: center;
    height: 25px;
    border: none;
    border-bottom: 1px solid lightgray;
    font-size: 10pt;
}
.sl23{
    text-align-last: center;
    height: 25px;
    border: none;
    border-bottom: 1px solid lightgray;
    font-size: 10pt;
    width: 130px;
}

.classType{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #f1f1f1;
     color: rgb(9, 129, 241);
     top: 6px;
     height: 25px;
     width: 25px;
     border: 0;
     border-radius: 50px;
     cursor: pointer;     
     margin-right: 7px;
     outline: none;
}
.classType:checked::before{
     position: absolute;
     font: 17px/1 'Open Sans', sans-serif;
     left: 9px;
     top: 3px;
     content: '\02143';
     transform: rotate(40deg);
     font-weight: bold;
}
.classType:hover{
     background-color: #f7f7f7;
}
.classType:checked{
     background-color: #f1f1f1;
}

.ct{
     font: 10pt/1.7 'Open Sans', sans-serif;
     color: #333;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     cursor: pointer;
}

#classTime{
    text-align: center;
    width: 50px;
    border-radius: 5px; 
    height: 20px;
    font-size: 11pt;
}

#price{
    text-align: center;
    border-radius: 5px;
    height: 20px;
    font-size: 11pt;
}

#MaxNum{
    text-align: center;
    width: 70px;
    border-radius: 5px;
    height: 20px; 
    font-size: 11pt;
    background-color: #f1f1f1;
}


.addSchedule23{
    height: auto;
}

.date632{
    border: none;
    border-bottom: 1px solid lightgray;
    text-align-last: center;
    font-size: 9pt;
    margin-bottom: 20px;
}

.dataCl{
	border: none;
    border-bottom: 1px solid lightgray;
    text-align-last: center;
    font-size: 9pt;
    margin-top: 10px;
}

#delImg{
    width: 15px;
    height: 15px;
    cursor: pointer;
    position: relative;
    top: 5px;
}

#zipCode13{
	border: none;
    border-bottom: 1px solid lightgray;
    padding-left: 10px;
    width: 100px;
    font-size: 9pt;
    height: 20px;
}

#basicAddr{
    margin-top: 15px;
    border: none;
    border-bottom: 1px solid lightgray;
    padding-left: 10px;
    width: 300px;
    font-size: 9pt;
    height: 20px;
}

#detailAddr{
    margin-top: 15px;
    border: none;
    border-bottom: 1px solid lightgray;
    padding-left: 10px;
    width: 300px;
    font-size: 9pt;
    height: 20px;
}




.btn24{
    background: rgb(9, 129, 241);
    color: white;
    border: none;
    height: 24px;
    width: 70px;
    border-radius: 15px;
    font-size: 9pt;
    cursor: pointer;
    vertical-align: middle;
}

.tt121{
	margin-bottom: 10px;
}

#object1{
    border-radius: 5px;
    font-size: 9pt;
    width: 500px;
}

#objectTextCount{
	border: none;
	text-align: right;
	width: 25px;
	font-weight: bold;
	font-size: 11pt;
	vertical-align: middle;
}


#divFi{
	width: 750px;
}
.finalBtn24{
    background: rgb(9, 129, 241);
    color: white;
    border: none;
    height: 33px;
    width: 180px;
    border-radius: 15px; 
    font-size: 12pt;
    cursor: pointer;
    font-weight: bold;
}